replicaCount: 1

image:
  repository: bankapp/cash
  pullPolicy: Never
  tag: "0.0.1-SNAPSHOT"

service:
  type: ClusterIP
  port: 8082
  targetPort: 8082

# OAuth2 client secret (sensitive data)
oauth2ClientSecret: "cash-secret-key-12345"

env:
  KEYCLOAK_AUTH_SERVER_URL: "http://bankapp-keycloak:8080"
  KEYCLOAK_TOKEN_URI: "http://bankapp-keycloak:8080/realms/bankapp/protocol/openid-connect/token"
  KEYCLOAK_JWK_SET_URI: "http://bankapp-keycloak:8080/realms/bankapp/protocol/openid-connect/certs"
  OAUTH2_CLIENT_ID: "cash-service"
  ACCOUNTS_SERVICE_URL: "http://bankapp-accounts:8081"
  BLOCKER_SERVICE_URL: "http://bankapp-blocker:8086"
  NOTIFICATIONS_SERVICE_URL: "http://bankapp-notifications:8087"

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi

startupProbe:
  httpGet:
    path: /actuator/health
    port: 8082
  initialDelaySeconds: 10
  periodSeconds: 5
  failureThreshold: 24

livenessProbe:
  httpGet:
    path: /actuator/health
    port: 8082
  initialDelaySeconds: 0
  periodSeconds: 10
  failureThreshold: 3

readinessProbe:
  httpGet:
    path: /actuator/health
    port: 8082
  initialDelaySeconds: 0
  periodSeconds: 5
  failureThreshold: 3

