replicaCount: 1

image:
  repository: bankapp/exchange-generator
  pullPolicy: Never
  tag: "0.0.1-SNAPSHOT"

service:
  type: ClusterIP
  port: 8085
  targetPort: 8085

# OAuth2 client secret (sensitive data)
oauth2ClientSecret: "exchange-generator-secret-key-12345"

env:
  KEYCLOAK_AUTH_SERVER_URL: "http://bankapp-keycloak:8080"
  KEYCLOAK_TOKEN_URI: "http://bankapp-keycloak:8080/realms/bankapp/protocol/openid-connect/token"
  KEYCLOAK_JWK_SET_URI: "http://bankapp-keycloak:8080/realms/bankapp/protocol/openid-connect/certs"
  OAUTH2_CLIENT_ID: "exchange-generator-service"
  EXCHANGE_SERVICE_URL: "http://bankapp-gateway:8088"

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi




startupProbe:
  httpGet:
    path: /actuator/health
    port: 8085
  initialDelaySeconds: 10
  periodSeconds: 5
  failureThreshold: 24

livenessProbe:
  httpGet:
    path: /actuator/health
    port: 8085
  initialDelaySeconds: 0
  periodSeconds: 10
  failureThreshold: 3

readinessProbe:
  httpGet:
    path: /actuator/health
    port: 8085
  initialDelaySeconds: 0
  periodSeconds: 5
  failureThreshold: 3
