# имена и описания контейнеров, которые должны быть развёрнуты
services:

  db:
    image: postgres:13.21-alpine3.22
    # volume и связанная с ним директория в контейнере
    volumes:
      - /var/lib/postgresql/data/
    # переменные окружения
    environment:
      - POSTGRES_DB=bankapp
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root

  front-ui-app:
    build:
      context: .
      dockerfile: front-ui/dockerfile
    ports:
      - "8080:8080"
    environment:
      - ACCOUNTS_HOST=accounts-app
      - ACCOUNTS_PORT=8081
      - CASH_SERVICE_URL=http://cash-app:8082
    depends_on:
      - accounts-app
      - cash-app

  accounts-app:
    build:
      context: .
      dockerfile: accounts/dockerfile
    ports:
      - "8081:8081"
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=bankapp
      - DB_USER=root
      - DB_PASSWORD=root
    depends_on:
      - db

  cash-app:
    build:
      context: .
      dockerfile: cash/dockerfile
    ports:
      - "8082:8082"
    environment:
      - ACCOUNTS_SERVICE_URL=http://accounts-app:8081
    depends_on:
      - accounts-app

  transfer-app:
    build:
      context: .
      dockerfile: transfer/dockerfile
    ports:
      - "8083:8083"

  exchange-app:
    build:
      context: .
      dockerfile: exchange/dockerfile
    ports:
      - "8084:8084"

  exchange-generator-app:
    build:
      context: .
      dockerfile: exchange-generator/dockerfile
    ports:
      - "8085:8085"