# имена и описания контейнеров, которые должны быть развёрнуты
services:

  db:
    image: postgres:13.21-alpine3.22
    # volume и связанная с ним директория в контейнере
    volumes:
      - /var/lib/postgresql/data/
    # переменные окружения
    environment:
      - POSTGRES_DB=bankapp
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root

  #  # Redis сервис для кеширования
  #  redis:
  #    image: redis:7-alpine
  #    ports:
  #      - "6379:6379"
  #    volumes:
  #      - redis_data:/data
  #    command: redis-server --appendonly yes

  #  online-store-app:
  #    build:
  #      context: .
  #      dockerfile: online-store/dockerfile
  #    ports:
  #      - "8080:8080"
  #    depends_on:
  #      - db
  #      - redis
  #    environment:
  #      - DB_HOST=db
  #      - DB_PORT=5432
  #      - DB_NAME=intershop
  #      - DB_USER=root
  #      - DB_PASSWORD=root
  #      - REDIS_HOST=redis
  #      - REDIS_PORT=6379

  front-ui-app:
    build:
      context: .
      dockerfile: front-ui/dockerfile
    ports:
      - "8080:8080"
    environment:
      - ACCOUNTS_HOST=accounts-app
      - ACCOUNTS_PORT=8081
      - CASH_SERVICE_URL=http://cash-app:8082
    depends_on:
      - accounts-app
      - cash-app

  accounts-app:
    build:
      context: .
      dockerfile: accounts/dockerfile
    ports:
      - "8081:8081"
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=bankapp
      - DB_USER=root
      - DB_PASSWORD=root
    depends_on:
      - db

  cash-app:
    build:
      context: .
      dockerfile: cash/dockerfile
    ports:
      - "8082:8082"
    environment:
      - ACCOUNTS_SERVICE_URL=http://accounts-app:8081
    depends_on:
      - accounts-app

#  keycloak:
#    image: quay.io/keycloak/keycloak:24.0.4
#    container_name: keycloak
#    ports:
#      - "8082:8080"
#    environment:
#      - KEYCLOAK_ADMIN=admin
#      - KEYCLOAK_ADMIN_PASSWORD=admin
#    volumes:
#      - ./keycloak/realm-export.json:/opt/keycloak/data/import/realm-export.json:ro
#    command: ["start-dev", "--import-realm"]
#    depends_on:
#      - db

#volumes:
#  redis_data: