# имена и описания контейнеров, которые должны быть развёрнуты
services:

  keycloak:
    image: quay.io/keycloak/keycloak:24.0.2
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - KC_DB=postgres
      - KC_DB_URL=jdbc:postgresql://db:5432/bankapp
      - KC_DB_USERNAME=root
      - KC_DB_PASSWORD=root
    ports:
      - "8090:8080"
    command:
      - start-dev
      - --import-realm
      - -Dkeycloak.import.strategy=OVERWRITE_EXISTING
    volumes:
      - ./keycloak/realm-export.json:/opt/keycloak/data/import/realm-export.json:ro
    depends_on:
      - db
    networks:
      - bankapp-network

  db:
    image: postgres:13.21-alpine3.22
    # volume и связанная с ним директория в контейнере
    volumes:
      - /var/lib/postgresql/data/
    # переменные окружения
    environment:
      - POSTGRES_DB=bankapp
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
    networks:
      - bankapp-network

  front-ui-app:
    build:
      context: .
      dockerfile: front-ui/dockerfile
    environment:
      - KEYCLOAK_TOKEN_URI=http://keycloak:8080/realms/bankapp/protocol/openid-connect/token
      - KEYCLOAK_JWK_SET_URI=http://keycloak:8080/realms/bankapp/protocol/openid-connect/certs
      - OAUTH2_CLIENT_ID=front-ui-service
      - OAUTH2_CLIENT_SECRET=front-ui-secret-key-12345
    depends_on:
      - keycloak
      - accounts-app
      - cash-app
      - transfer-app
      - exchange-app
    networks:
      - bankapp-network

  gateway-app:
    build:
      context: .
      dockerfile: gateway/dockerfile
    ports:
      - "8088:8088"
    environment:
      - KEYCLOAK_JWK_SET_URI=http://keycloak:8080/realms/bankapp/protocol/openid-connect/certs
    depends_on:
      - keycloak
      - accounts-app
      - cash-app
      - transfer-app
      - exchange-app
      - notifications-app
    networks:
      - bankapp-network

  accounts-app:
    build:
      context: .
      dockerfile: accounts/dockerfile
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=bankapp
      - DB_USER=root
      - DB_PASSWORD=root
      - KEYCLOAK_TOKEN_URI=http://keycloak:8080/realms/bankapp/protocol/openid-connect/token
      - KEYCLOAK_JWK_SET_URI=http://keycloak:8080/realms/bankapp/protocol/openid-connect/certs
      - OAUTH2_CLIENT_ID=accounts-service
      - OAUTH2_CLIENT_SECRET=accounts-secret-key-12345
    depends_on:
      - keycloak
      - db
    networks:
      - bankapp-network

  cash-app:
    build:
      context: .
      dockerfile: cash/dockerfile
    environment:
      - KEYCLOAK_TOKEN_URI=http://keycloak:8080/realms/bankapp/protocol/openid-connect/token
      - KEYCLOAK_JWK_SET_URI=http://keycloak:8080/realms/bankapp/protocol/openid-connect/certs
      - OAUTH2_CLIENT_ID=cash-service
      - OAUTH2_CLIENT_SECRET=cash-secret-key-12345
    depends_on:
      - keycloak
    networks:
      - bankapp-network

  transfer-app:
    build:
      context: .
      dockerfile: transfer/dockerfile
    environment:
      - KEYCLOAK_TOKEN_URI=http://keycloak:8080/realms/bankapp/protocol/openid-connect/token
      - KEYCLOAK_JWK_SET_URI=http://keycloak:8080/realms/bankapp/protocol/openid-connect/certs
      - OAUTH2_CLIENT_ID=transfer-service
      - OAUTH2_CLIENT_SECRET=transfer-secret-key-12345
    depends_on:
      - keycloak
    networks:
      - bankapp-network

  exchange-app:
    build:
      context: .
      dockerfile: exchange/dockerfile
    environment:
      - KEYCLOAK_JWK_SET_URI=http://keycloak:8080/realms/bankapp/protocol/openid-connect/certs
    depends_on:
      - keycloak
    networks:
      - bankapp-network

  exchange-generator-app:
    build:
      context: .
      dockerfile: exchange-generator/dockerfile
    environment:
      - KEYCLOAK_TOKEN_URI=http://keycloak:8080/realms/bankapp/protocol/openid-connect/token
      - KEYCLOAK_JWK_SET_URI=http://keycloak:8080/realms/bankapp/protocol/openid-connect/certs
      - OAUTH2_CLIENT_ID=exchange-generator-service
      - OAUTH2_CLIENT_SECRET=exchange-generator-secret-key-12345
    depends_on:
      - keycloak
    networks:
      - bankapp-network

  blocker-app:
    build:
      context: .
      dockerfile: blocker/dockerfile
    environment:
      - KEYCLOAK_JWK_SET_URI=http://keycloak:8080/realms/bankapp/protocol/openid-connect/certs
    depends_on:
      - keycloak
    networks:
      - bankapp-network

  notifications-app:
    build:
      context: .
      dockerfile: notifications/dockerfile
    environment:
      - KEYCLOAK_JWK_SET_URI=http://keycloak:8080/realms/bankapp/protocol/openid-connect/certs
    depends_on:
      - keycloak
    networks:
      - bankapp-network

networks:
  bankapp-network:
    driver: bridge
