# имена и описания контейнеров, которые должны быть развёрнуты
services:

  keycloak:
    image: quay.io/keycloak/keycloak:24.0.2
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - KC_DB=postgres
      - KC_DB_URL=jdbc:postgresql://db:5432/keycloak
      - KC_DB_USERNAME=root
      - KC_DB_PASSWORD=root
    ports:
      - "8090:8080"
    command:
      - start-dev
      - --import-realm
    volumes:
      - ./keycloak/realm-export.json:/opt/keycloak/data/import/realm-export.json:ro
    depends_on:
      - db

  db:
    image: postgres:13.21-alpine3.22
    # volume и связанная с ним директория в контейнере
    volumes:
      - /var/lib/postgresql/data/
    # переменные окружения
    environment:
      - POSTGRES_DB=bankapp
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root

  front-ui-app:
    build:
      context: .
      dockerfile: front-ui/dockerfile
    ports:
      - "8080:8080"
    environment:
      - ACCOUNTS_HOST=accounts-app
      - ACCOUNTS_PORT=8081
      - CASH_SERVICE_URL=http://cash-app:8082
      - TRANSFER_SERVICE_URL=http://transfer-app:8083
      - EXCHANGE_SERVICE_URL=http://exchange-app:8084
      - KEYCLOAK_TOKEN_URI=http://keycloak:8080/realms/bankapp/protocol/openid-connect/token
      - KEYCLOAK_JWK_SET_URI=http://keycloak:8080/realms/bankapp/protocol/openid-connect/certs
      - OAUTH2_CLIENT_ID=front-ui-service
      - OAUTH2_CLIENT_SECRET=front-ui-secret-key-12345
    depends_on:
      - keycloak
      - accounts-app
      - cash-app
      - transfer-app
      - exchange-app

  accounts-app:
    build:
      context: .
      dockerfile: accounts/dockerfile
    ports:
      - "8081:8081"
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=bankapp
      - DB_USER=root
      - DB_PASSWORD=root
      - NOTIFICATIONS_SERVICE_URL=http://notifications-app:8087
      - KEYCLOAK_TOKEN_URI=http://keycloak:8080/realms/bankapp/protocol/openid-connect/token
      - KEYCLOAK_JWK_SET_URI=http://keycloak:8080/realms/bankapp/protocol/openid-connect/certs
      - OAUTH2_CLIENT_ID=accounts-service
      - OAUTH2_CLIENT_SECRET=accounts-secret-key-12345
    depends_on:
      - keycloak
      - db
      - notifications-app

  cash-app:
    build:
      context: .
      dockerfile: cash/dockerfile
    ports:
      - "8082:8082"
    environment:
      - ACCOUNTS_SERVICE_URL=http://accounts-app:8081
      - BLOCKER_SERVICE_URL=http://blocker-app:8086
      - NOTIFICATIONS_SERVICE_URL=http://notifications-app:8087
      - KEYCLOAK_TOKEN_URI=http://keycloak:8080/realms/bankapp/protocol/openid-connect/token
      - KEYCLOAK_JWK_SET_URI=http://keycloak:8080/realms/bankapp/protocol/openid-connect/certs
      - OAUTH2_CLIENT_ID=cash-service
      - OAUTH2_CLIENT_SECRET=cash-secret-key-12345
    depends_on:
      - keycloak
      - accounts-app
      - blocker-app
      - notifications-app

  transfer-app:
    build:
      context: .
      dockerfile: transfer/dockerfile
    ports:
      - "8083:8083"
    environment:
      - ACCOUNTS_SERVICE_URL=http://accounts-app:8081
      - BLOCKER_SERVICE_URL=http://blocker-app:8086
      - NOTIFICATIONS_SERVICE_URL=http://notifications-app:8087
    depends_on:
      - accounts-app
      - blocker-app
      - notifications-app

  exchange-app:
    build:
      context: .
      dockerfile: exchange/dockerfile
    ports:
      - "8084:8084"

  exchange-generator-app:
    build:
      context: .
      dockerfile: exchange-generator/dockerfile
    ports:
      - "8085:8085"
    environment:
      - EXCHANGE_SERVICE_URL=http://exchange-app:8084
    depends_on:
      - exchange-app

  blocker-app:
    build:
      context: .
      dockerfile: blocker/dockerfile
    ports:
      - "8086:8086"
    environment:
      - KEYCLOAK_JWK_SET_URI=http://keycloak:8080/realms/bankapp/protocol/openid-connect/certs
    depends_on:
      - keycloak

  notifications-app:
    build:
      context: .
      dockerfile: notifications/dockerfile
    ports:
      - "8087:8087"
    environment:
      - KEYCLOAK_JWK_SET_URI=http://keycloak:8080/realms/bankapp/protocol/openid-connect/certs
    depends_on:
      - keycloak