replicaCount: 1

image:
  repository: bankapp/notifications
  pullPolicy: Always
  tag: "latest"

service:
  type: ClusterIP
  port: 8087
  targetPort: 8087

env:
  KEYCLOAK_JWK_SET_URI: "http://keycloak:8080/realms/bankapp/protocol/openid-connect/certs"
  KAFKA_BOOTSTRAP_SERVERS: "kafka:9092"
  ZIPKIN_BASE_URL: "http://bankapp-zipkin:9411"
  ZIPKIN_ENABLED: "true"
  TRACING_SAMPLE_RATE: "1.0"

resources:
  limits:
    cpu: 1000m
    memory: 1Gi
  requests:
    cpu: 500m
    memory: 512Mi




startupProbe:
  httpGet:
    path: /actuator/health
    port: 8087
  initialDelaySeconds: 10
  periodSeconds: 5
  failureThreshold: 24

livenessProbe:
  httpGet:
    path: /actuator/health
    port: 8087
  initialDelaySeconds: 0
  periodSeconds: 10
  failureThreshold: 3

readinessProbe:
  httpGet:
    path: /actuator/health
    port: 8087
  initialDelaySeconds: 0
  periodSeconds: 5
  failureThreshold: 3
