image:
  repository: quay.io/keycloak/keycloak
  tag: "24.0.2"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080
  targetPort: 8080

env:
  KEYCLOAK_ADMIN: admin
  KEYCLOAK_ADMIN_PASSWORD: admin
  KC_DB: postgres
  KC_DB_URL_HOST: postgresql
  KC_DB_URL_PORT: "5432"
  KC_DB_URL_DATABASE: bankapp
  KC_DB_USERNAME: root
  KC_DB_PASSWORD: root

command:
  - start-dev
  - --import-realm
  - -Dkeycloak.import.strategy=OVERWRITE_EXISTING

resources:
  limits:
    cpu: 1000m
    memory: 1Gi
  requests:
    cpu: 500m
    memory: 512Mi

startupProbe:
  httpGet:
    path: /health
    port: 8080
  initialDelaySeconds: 10
  periodSeconds: 5
  failureThreshold: 30

livenessProbe:
  httpGet:
    path: /health
    port: 8080
  initialDelaySeconds: 0
  periodSeconds: 10
  failureThreshold: 3

readinessProbe:
  httpGet:
    path: /health/ready
    port: 8080
  initialDelaySeconds: 0
  periodSeconds: 5
  failureThreshold: 3


