replicaCount: 1

image:
  repository: bankapp/exchange
  pullPolicy: Never
  tag: "0.0.1-SNAPSHOT"

imagePullSecrets:
  - name: ghcr-secret

service:
  type: ClusterIP
  port: 8084
  targetPort: 8084

# OAuth2 client secret (sensitive data)
oauth2ClientSecret: "exchange-secret-key-12345"

env:
  KEYCLOAK_AUTH_SERVER_URL: "http://bankapp-keycloak:8080"
  KEYCLOAK_JWK_SET_URI: "http://bankapp-keycloak:8080/realms/bankapp/protocol/openid-connect/certs"
  OAUTH2_CLIENT_ID: "exchange-service"

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi




startupProbe:
  httpGet:
    path: /actuator/health
    port: 8084
  initialDelaySeconds: 10
  periodSeconds: 5
  failureThreshold: 24

livenessProbe:
  httpGet:
    path: /actuator/health
    port: 8084
  initialDelaySeconds: 0
  periodSeconds: 10
  failureThreshold: 3

readinessProbe:
  httpGet:
    path: /actuator/health
    port: 8084
  initialDelaySeconds: 0
  periodSeconds: 5
  failureThreshold: 3
