spring:
  application:
    name: gateway
  cloud:
    compatibility-verifier:
      enabled: false
    consul:
      host: ${SPRING_CLOUD_CONSUL_HOST:consul}
      port: ${SPRING_CLOUD_CONSUL_PORT:8500}
      discovery:
        enabled: ${SPRING_CLOUD_CONSUL_DISCOVERY_ENABLED:true}
        register: ${SPRING_CLOUD_CONSUL_DISCOVERY_REGISTER:true}
        service-name: ${SPRING_CLOUD_CONSUL_DISCOVERY_SERVICE_NAME:gateway}
        instance-id: ${SPRING_CLOUD_CONSUL_DISCOVERY_INSTANCE_ID:gateway-1}
        hostname: gateway-app
        health-check-path: /actuator/health
        health-check-interval: 15s
    gateway:
      discovery:
        locator:
          enabled: false
      routes:
        - id: root-redirect
          uri: no://op
          predicates:
            - Path=/
          filters:
            - RedirectTo=302, /login
        - id: accounts-users-route
          uri: lb://accounts
          predicates:
            - Path=/api/users/**
        - id: accounts-route
          uri: lb://accounts
          predicates:
            - Path=/api/accounts/**
        - id: cash-route
          uri: lb://cash
          predicates:
            - Path=/api/cash/**
        - id: transfer-route
          uri: lb://transfer
          predicates:
            - Path=/api/transfer/**
        - id: exchange-route
          uri: lb://exchange
          predicates:
            - Path=/api/exchange/**
        - id: notifications-route
          uri: lb://notifications
          predicates:
            - Path=/api/notifications/**
        - id: front-ui-route
          uri: lb://front-ui
          predicates:
            - Path=/**

server:
  port: 8088

management:
  endpoints:
    web:
      exposure:
        include: health,info


