spring:
  application:
    name: accounts
  cloud:
    compatibility-verifier:
      enabled: false
    consul:
      host: ${SPRING_CLOUD_CONSUL_HOST:consul}
      port: ${SPRING_CLOUD_CONSUL_PORT:8500}
      discovery:
        enabled: ${SPRING_CLOUD_CONSUL_DISCOVERY_ENABLED:true}
        register: ${SPRING_CLOUD_CONSUL_DISCOVERY_REGISTER:true}
        service-name: ${SPRING_CLOUD_CONSUL_DISCOVERY_SERVICE_NAME:accounts}
        instance-id: ${SPRING_CLOUD_CONSUL_DISCOVERY_INSTANCE_ID:accounts-1}
        hostname: accounts-app
        health-check-path: /actuator/health
        health-check-interval: 15s
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:bankapp}
    username: ${DB_USER:root}
    password: ${DB_PASSWORD:root}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml
  security:
    oauth2:
      client:
        registration:
          accounts-service:
            client-id: ${OAUTH2_CLIENT_ID:accounts-service}
            client-secret: ${OAUTH2_CLIENT_SECRET:accounts-secret-key-12345}
            authorization-grant-type: client_credentials
            scope: openid,profile,email
            provider: keycloak
        provider:
          keycloak:
            token-uri: ${KEYCLOAK_TOKEN_URI:http://keycloak:8080/realms/bankapp/protocol/openid-connect/token}
      resourceserver:
        jwt:
          jwk-set-uri: ${KEYCLOAK_JWK_SET_URI:http://keycloak:8080/realms/bankapp/protocol/openid-connect/certs}
    
server:
  port: 8081
