apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "gateway.fullname" . }}-config
  labels:
    {{- include "gateway.labels" . | nindent 4 }}
data:
  application.yml: |
    spring:
      application:
        name: gateway
      autoconfigure:
        exclude:
          - org.springframework.cloud.consul.discovery.ConsulDiscoveryClientConfiguration
          - org.springframework.cloud.consul.serviceregistry.ConsulAutoServiceRegistrationAutoConfiguration
          - org.springframework.cloud.consul.serviceregistry.ConsulServiceRegistryAutoConfiguration
          - org.springframework.cloud.consul.config.ConsulConfigAutoConfiguration
      cloud:
        consul:
          enabled: false
          discovery:
            enabled: false
          config:
            enabled: false
        gateway:
          discovery:
            locator:
              enabled: false
          routes:
            - id: root-redirect
              uri: no://op
              predicates:
                - Path=/
              filters:
                - RedirectTo=302, /login
            - id: accounts-users-route
              uri: ${ACCOUNTS_SERVICE_URL:http://bankapp-accounts:8081}
              predicates:
                - Path=/api/users/**
            - id: accounts-route
              uri: ${ACCOUNTS_SERVICE_URL:http://bankapp-accounts:8081}
              predicates:
                - Path=/api/accounts/**
            - id: cash-route
              uri: ${CASH_SERVICE_URL:http://bankapp-cash:8082}
              predicates:
                - Path=/api/cash/**
            - id: transfer-route
              uri: ${TRANSFER_SERVICE_URL:http://bankapp-transfer:8083}
              predicates:
                - Path=/api/transfer/**
            - id: exchange-route
              uri: ${EXCHANGE_SERVICE_URL:http://bankapp-exchange:8084}
              predicates:
                - Path=/api/exchange/**
            - id: notifications-route
              uri: ${NOTIFICATIONS_SERVICE_URL:http://bankapp-notifications:8087}
              predicates:
                - Path=/api/notifications/**
            - id: blocker-route
              uri: ${BLOCKER_SERVICE_URL:http://bankapp-blocker:8086}
              predicates:
                - Path=/api/blocker/**
            - id: front-ui-route
              uri: ${FRONT_UI_SERVICE_URL:http://bankapp-front-ui:8080}
              predicates:
                - Path=/**
      security:
        oauth2:
          resourceserver:
            jwt:
              jwk-set-uri: ${KEYCLOAK_JWK_SET_URI:http://keycloak:8080/realms/bankapp/protocol/openid-connect/certs}
    
    keycloak:
      auth-server-url: ${KEYCLOAK_AUTH_SERVER_URL:http://keycloak:8080}
    
    server:
      port: 8088
    
    management:
      endpoints:
        web:
          exposure:
            include: health,info,loggers,refresh

