{{- if .Values.kafkaUI.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-ui
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kafkaui.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "kafkaui.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "kafkaui.selectorLabels" . | nindent 8 }}
    spec:
      containers:
      - name: kafka-ui
        image: "{{ .Values.kafkaUI.image.repository }}:{{ .Values.kafkaUI.image.tag }}"
        imagePullPolicy: {{ .Values.kafkaUI.image.pullPolicy }}
        ports:
        - containerPort: {{ .Values.kafkaUI.service.targetPort }}
          name: http
        env:
        - name: KAFKA_CLUSTERS_0_NAME
          value: "bankapp-kafka"
        - name: KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS
          value: "kafka:9092"
        - name: DYNAMIC_CONFIG_ENABLED
          value: "true"
        resources:
          {{- toYaml .Values.kafkaUI.resources | nindent 10 }}
        livenessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
          initialDelaySeconds: 20
          periodSeconds: 5
{{- end }}
