replicaCount: 1

image:
  repository: bankapp/transfer
  pullPolicy: IfNotPresent
  tag: "0.0.1-SNAPSHOT"

service:
  type: ClusterIP
  port: 8083
  targetPort: 8083

env:
  SPRING_CLOUD_CONSUL_HOST: "bankapp-consul"
  SPRING_CLOUD_CONSUL_PORT: "8500"
  SPRING_CLOUD_CONSUL_DISCOVERY_ENABLED: "true"
  SPRING_CLOUD_CONSUL_DISCOVERY_REGISTER: "true"
  SPRING_CLOUD_CONSUL_DISCOVERY_SERVICE_NAME: "transfer"
  SPRING_CLOUD_CONSUL_DISCOVERY_INSTANCE_ID: "transfer-1"
  SPRING_CLOUD_CONSUL_DISCOVERY_HOSTNAME: "bankapp-transfer.bankapp.svc.cluster.local"
  SPRING_CLOUD_CONSUL_DISCOVERY_PREFER_IP_ADDRESS: "true"
  KEYCLOAK_TOKEN_URI: "http://bankapp-keycloak:8080/realms/bankapp/protocol/openid-connect/token"
  KEYCLOAK_JWK_SET_URI: "http://bankapp-keycloak:8080/realms/bankapp/protocol/openid-connect/certs"
  OAUTH2_CLIENT_ID: "transfer-service"
  OAUTH2_CLIENT_SECRET: "transfer-secret-key-12345"

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi

livenessProbe:
  httpGet:
    path: /actuator/health
    port: 8083
  initialDelaySeconds: 60
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /actuator/health
    port: 8083
  initialDelaySeconds: 30
  periodSeconds: 5

