apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "keycloak.fullname" . }}
  labels:
    {{- include "keycloak.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "keycloak.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "keycloak.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: keycloak
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          command:
            - /bin/bash
            - -c
            - /opt/keycloak/bin/kc.sh start-dev --import-realm --health-enabled=true -Dkeycloak.import.strategy=OVERWRITE_EXISTING
          env:
            - name: KEYCLOAK_ADMIN
              value: {{ .Values.env.KEYCLOAK_ADMIN | quote }}
            - name: KEYCLOAK_ADMIN_PASSWORD
              value: {{ .Values.env.KEYCLOAK_ADMIN_PASSWORD | quote }}
            - name: KC_DB
              value: {{ .Values.env.KC_DB | quote }}
            - name: KC_DB_URL
              value: "jdbc:postgresql://{{ .Values.env.KC_DB_URL_HOST }}:{{ .Values.env.KC_DB_URL_PORT }}/{{ .Values.env.KC_DB_URL_DATABASE }}"
            - name: KC_DB_USERNAME
              value: {{ .Values.env.KC_DB_USERNAME | quote }}
            - name: KC_DB_PASSWORD
              value: {{ .Values.env.KC_DB_PASSWORD | quote }}
          volumeMounts:
            - name: realm-export
              mountPath: /opt/keycloak/data/import/realm-export.json
              subPath: realm-export.json
              readOnly: true
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- if .Values.startupProbe }}
          startupProbe:
            {{- toYaml .Values.startupProbe | nindent 12 }}
          {{- end }}
          {{- if .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml .Values.livenessProbe | nindent 12 }}
          {{- end }}
          {{- if .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml .Values.readinessProbe | nindent 12 }}
          {{- end }}
      volumes:
        - name: realm-export
          configMap:
            name: {{ include "keycloak.fullname" . }}-realm

