kafka:
  image:
    repository: apache/kafka
    tag: "3.8.0"
    pullPolicy: IfNotPresent
  
  replicaCount: 1
  
  service:
    type: ClusterIP
    port: 9092
    targetPort: 9092
  
  persistence:
    enabled: false
    size: 1Gi
    storageClass: ""
    mountPath: /tmp/kraft-combined-logs
  
  kraft:
    clusterId: "SJcOBF5BRHi4H7Rfn4-5dQ"
    nodeId: 1
    processRoles: "broker,controller"
  
  config:
    numPartitions: 3
    defaultReplicationFactor: 1
    minInsyncReplicas: 1
    logRetentionHours: 168
    autoCreateTopicsEnable: true
    offsetsTopicReplicationFactor: 1
    transactionStateLogReplicationFactor: 1
    transactionStateLogMinIsr: 1

kafkaUi:
  enabled: true
  image:
    repository: provectuslabs/kafka-ui
    tag: latest
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 8080
