replicaCount: 1

image:
  repository: bankapp/gateway
  pullPolicy: IfNotPresent
  tag: "0.0.1-SNAPSHOT"

service:
  type: ClusterIP
  port: 8088
  targetPort: 8088

env:
  KEYCLOAK_AUTH_SERVER_URL: "http://bankapp-keycloak:8080"
  KEYCLOAK_JWK_SET_URI: "http://bankapp-keycloak:8080/realms/bankapp/protocol/openid-connect/certs"
  ACCOUNTS_SERVICE_URL: "http://bankapp-accounts:8081"
  CASH_SERVICE_URL: "http://bankapp-cash:8082"
  TRANSFER_SERVICE_URL: "http://bankapp-transfer:8083"
  EXCHANGE_SERVICE_URL: "http://bankapp-exchange:8084"
  NOTIFICATIONS_SERVICE_URL: "http://bankapp-notifications:8087"
  BLOCKER_SERVICE_URL: "http://bankapp-blocker:8086"
  FRONT_UI_SERVICE_URL: "http://bankapp-front-ui:8080"

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi

startupProbe:
  httpGet:
    path: /actuator/health
    port: 8088
  initialDelaySeconds: 10
  periodSeconds: 5
  failureThreshold: 24

livenessProbe:
  httpGet:
    path: /actuator/health
    port: 8088
  initialDelaySeconds: 0
  periodSeconds: 10
  failureThreshold: 3

readinessProbe:
  httpGet:
    path: /actuator/health
    port: 8088
  initialDelaySeconds: 0
  periodSeconds: 5
  failureThreshold: 3

